# version: "3.8"

services:

  backend:
    build: ./backend
    restart: always
    networks:
      - FlixTinder
    ports:
      - "7300:4000"

  frontend:
    build: ./frontend
    restart: always
    networks:
      - FlixTinder
    ports:
      - "7200:80"

  mongo_flix_tinder:
    image: mongo
    restart: always
    networks:
      - FlixTinder
    ports:
      - 27019:27017
    volumes:
      - mongo-data:/data/db

networks:
  FlixTinder:
    driver: bridge

volumes:
  mongo-data: